Repository pydantic/connect4: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-frontend, typecheck-frontend, format-c4ai, typecheck-c4ai, format-python, typecheck-python

format-frontend:
  name: Format Frontend
  entry: make
  args:
  - format-frontend
  language: system
  pass_filenames: false

typecheck-frontend:
  name: Typecheck Frontend
  entry: make
  args:
  - typecheck-frontend
  language: system
  pass_filenames: false

format-c4ai:
  name: Format c4ai
  entry: make
  args:
  - format-c4ai
  language: system
  pass_filenames: false

typecheck-c4ai:
  name: Typecheck c4ai
  entry: make
  args:
  - typecheck-c4ai
  language: system
  pass_filenames: false

format-python:
  name: Format Python
  entry: make
  args:
  - format-py
  language: system
  pass_filenames: false

typecheck-python:
  name: Typecheck Python
  entry: make
  args:
  - typecheck-py
  language: system
  pass_filenames: false

fix pre-commit, take 2
  .github/workflows/ci.yml
Due: none

Use node/express for the c4ai service
  .github/workflows/ci.yml
  Makefile
  c4ai/.zed/settings.json
  c4ai/Dockerfile
  c4ai/README.md
  c4ai/biome.json
  c4ai/deno.json
  c4ai/deno.lock
  c4ai/instrumentation.ts
  c4ai/main.ts
  c4ai/package-lock.json
  c4ai/package.json
  c4ai/run.sh
  c4ai/tsconfig.json
  docker-compose.yml
  package.json
Due: format-c4ai, typecheck-c4ai

Formatting changes
  c4ai/biome.json
  c4ai/instrumentation.ts
  c4ai/main.ts
Due: format-c4ai, typecheck-c4ai

Remove zed config
  c4ai/.zed/settings.json
Due: format-c4ai, typecheck-c4ai

Use node/express for the c4ai service (#22)
  .github/workflows/ci.yml
  Makefile
  c4ai/.zed/settings.json
  c4ai/Dockerfile
  c4ai/README.md
  c4ai/biome.json
  c4ai/deno.json
  c4ai/deno.lock
  c4ai/instrumentation.ts
  c4ai/main.ts
  c4ai/package-lock.json
  c4ai/package.json
  c4ai/run.sh
  c4ai/tsconfig.json
  docker-compose.yml
  package.json
Due: format-c4ai, typecheck-c4ai

add server time to robots.txt
  backend/server.py
Due: format-python, typecheck-python

fix delay log
  backend/server.py
Due: format-python, typecheck-python

display delay in ms
  backend/server.py
Due: format-python, typecheck-python

switch to timing endpoint
  backend/server.py
  docker-compose.yml
Due: format-python, typecheck-python

update invitation
  frontend/src/HomePage.tsx
Due: format-frontend, typecheck-frontend

stop spider crashing
  backend/spider.py
Due: format-python, typecheck-python

Support first move to be done by c4ai
  c4ai/main.ts
Due: format-c4ai, typecheck-c4ai

Support first move to be done by c4ai (#23)
  c4ai/main.ts
Due: format-c4ai, typecheck-c4ai

Frontend instrumentation
  README.md
  backend/api.py
  backend/server.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Instrumentation.tsx
  package-lock.json
Due: format-frontend, typecheck-frontend, format-python, typecheck-python

Frontend instrumentation (#24)
  README.md
  backend/api.py
  backend/server.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Instrumentation.tsx
  package-lock.json
Due: format-frontend, typecheck-frontend, format-python, typecheck-python

fix client_traces so spider runs
  backend/api.py
  backend/server.py
Due: format-python, typecheck-python

fix spider print
  backend/spider.py
Due: format-python, typecheck-python

tweak proxy
  backend/api.py
  backend/server.py
Due: format-python, typecheck-python

add proxy warning
  backend/api.py
Due: format-python, typecheck-python

Fix environment for browser traces
  frontend/src/Instrumentation.tsx
Due: format-frontend, typecheck-frontend

Remove bogus fetch spans
  frontend/src/Instrumentation.tsx
Due: format-frontend, typecheck-frontend

Suppress proxy calls from instrumentation
  backend/api.py
  backend/server.py
Due: format-python, typecheck-python

Fix environment for browser traces (#25)
  backend/api.py
  backend/server.py
  frontend/src/Instrumentation.tsx
Due: format-frontend, typecheck-frontend, format-python, typecheck-python

ignore more
  .gitignore
Due: none

add logfire-mcp to zed settings
  .zed/settings.json
Due: none

adding claude code
  .zed/settings.json
  CLAUDE.md
Due: none

uprev pydantic-ai and logfire
  pyproject.toml
Due: none

uv.lock
  uv.lock
Due: none

fix types
  backend/agent.py
Due: format-python, typecheck-python

uprev pydantic-ai and logfire (#26)
  backend/agent.py
  pyproject.toml
  uv.lock
Due: format-python, typecheck-python

fix pydantic-ai optional group
  pyproject.toml
  uv.lock
Due: none

upgrade to use pydantic-ai-gateway
  backend/api.py
  backend/demo_ai_vs_ai.py
  backend/game.py
  docker-compose.yml
  pyproject.toml
  render.yaml
  uv.lock
Due: format-python, typecheck-python

upgrade to use pydantic-ai-gateway (#27)
  backend/api.py
  backend/demo_ai_vs_ai.py
  backend/game.py
  docker-compose.yml
  pyproject.toml
  render.yaml
  uv.lock
Due: format-python, typecheck-python

switch to pnpm
  .dockerignore
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile
  Makefile
  README.md
  c4ai/Dockerfile
  c4ai/package-lock.json
  c4ai/pnpm-lock.yaml
  frontend/CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-frontend, typecheck-frontend, format-c4ai, typecheck-c4ai

fix build
  .claude/settings.json
  frontend/package.json
  frontend/src/AivsAiPlay.tsx
  frontend/src/HumanAIPlay.tsx
  frontend/tsconfig.json
  pnpm-lock.yaml
Due: format-frontend, typecheck-frontend

add docker build job to ci
  .github/workflows/ci.yml
Due: none

fix anthropic model names
  backend/api.py
  backend/game.py
Due: format-python, typecheck-python

fix anthropic model names (#29)
  backend/api.py
  backend/game.py
Due: format-python, typecheck-python

add check to ci
  .github/workflows/ci.yml
Due: none

Pnpm switch (#28)
  .claude/settings.json
  .dockerignore
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile
  Makefile
  README.md
  c4ai/Dockerfile
  c4ai/package-lock.json
  c4ai/pnpm-lock.yaml
  frontend/CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/AivsAiPlay.tsx
  frontend/src/HumanAIPlay.tsx
  frontend/tsconfig.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-frontend, typecheck-frontend, format-c4ai, typecheck-c4ai

Path conditions:
  format-frontend: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
  format-c4ai: any of: ^c4ai/
  typecheck-c4ai: any of: ^c4ai/
  format-python: any of: ^backend/
  typecheck-python: any of: ^backend/
